*{padding: 0; margin: 0; color: #333333;}
a{width: 100%;height: 100%; color: inherit; text-decoration: none;display: block;}
ul{list-style: none;}
.wrap{
    width: 1000px;
}
.header{
    width: 250px;
    height: 650px;
    background:#eee;
    position: fixed;
    z-index: 9;
}
.logo{
    width: 200px ;
    height: 40px;
    padding: 30px 0;
    margin: 0 auto;
}
.logo img{
    width: 100%;
}
.menu_li{
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    
}
.menu_li_act{
    background: #ff5733;
    color: #fff;
}
.sub_menu_ul{
    background: #eee;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}
.sub_menu_ul_act{
    display: block;
}
.sub_menu_li{
    width: 200px;
    padding: 10px 20px;
}

/* main */
.main{
    padding-left: 250px;
}
/* banner */

.banner_box{
    width: 100%;
    height: 350px;
    position: relative;
    
}
.banner{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.banner:first-child{
    display: block;
}
.banner img{
    width: 100%;
}
.banner h1{
    padding: 5px 10px ;
    color: #fff;
    background: #ff5733;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
/* content */

.content_box{
    width:100%;
    height: 200px;
}
.content{
    width: calc((100% - (5px * 2)) /3);
    height: 100%;
    margin-right: 5px;
    float: left;
}
.content:last-child{
    margin-right: 0;
}
.title{
    width: 100px;
    padding: 5px 0;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}
.c_item_box{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid;
}
.c_item{
    font-size: 14px;
    padding: 10px 0;
    box-sizing: border-box;
    
}
.c_item span{
    float: right;
}

.gallery_box{
}
.gallery{
    width: calc((100% - (5px * 2 * 3)) / 3);
    margin: 40px 5px ;

    float: left;
}
.gallery img{
    width: 100%;
}

.direct{
    line-height: 200px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: url(../img/Contents/direct/direct.jpg) no-repeat center / cover;
}
/* footer */

.footer{
    width: 100%;
    height: 100px;
    padding-left: 250px;
    overflow: hidden;
}
.f_content{
    float: left;
}
.f_logo{
    width: 200px;
    margin: 30px 0;
}
.f_copy{
    width: calc(100% - 300px - 250px);
    line-height: 100px;
    text-align: center;
}
.f_option{
    width: 100px;
    margin:
}
.f_option select{
    width: 100%;
    margin: 40px 0;
}
/* 모달 */
.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.modal_act{
    display: block;
}
.layer{
    width: 500px;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.l_item{
    margin: 10px 0 ;
}
.l_close{
    padding: 10px;
    border: 1px solid;
    float: right;
}













